%baseButtonStyle {
  outline: 0;
  border: 0;
  border-radius: 4px;
  display: inline-block;
  appearance: button;

  -webkit-appearance: button; /* for input */
  -webkit-user-select: none; /* for button */
  -moz-user-select: none;
  -ms-user-select: none;
}

.Alert {
  @extend %baseButtonStyle;
  justify-content: space-between;
  background-color: #333;
  border-radius: 999px;
  color: #fff;
  font-weight: 500;
  font-size: 18px;
  height: 48px;
  padding: 0 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  &__icon {
    fill: #fff;
    display: inline-block;
    vertical-align: text-bottom;
    &--active {
      position: absolute;
      top: -7px;
      right: 2px;
      background-color: white;
      border: 1px solid;
      border-radius: 50%;
    }
    html[dir='rtl'] &--active {
      right: unset;
      left: 8px;
    }
  }
}
html[dir='rtl'] .Alert {
  right: unset;
  left: 16px;
}
