.availabiltyBadge {
  display: flex;
  background-color: #7a7a7a;
  color: #fff;
  border-radius: 3px;
  -webkit-font-smoothing: auto;

  &.success {
    background-color: #390;
  }

  &.danger {
    background-color: #c30;
  }

  &.primary {
    background-color: #f66826;
  }

  &__label {
    font-size: 9px;
    padding: 4px;
    text-transform: uppercase;
    width: 56px;
    text-align: center;
  }

  &__count {
    font-size: 9px;
    background-color: rgba(0, 0, 0, .3);
    padding: 4px;
    border-radius: 0 3px 3px 0;
    min-width: 26px;
    text-align: center;
  }
}


.codeBadge {
  @include font-smoothing();
  text-align: center;
  font-weight: 600;
  background-color: #7a7a7a;
  color: #fff;
  border-radius: 3px;

  &--regular {
    font-size: 12px;
    padding: 5px 6px;
    min-width: 45px;
  }

  &--small {
    font-size: 12px;
    padding: 3px 4px;
    width: auto;
    min-width: initial;
  }

  &--tiny {
    font-size: 11px;
    padding: 2px 4px;
    width: auto;
    min-width: initial;
  }

  &--success {
    color: #fff;
    background-color: #390;
  }
}

.statusBadge {
  background-color: #390;
  color: #fff;
  font-size: 9px;
  padding: 3px 6px 4px;
  text-transform: uppercase;
  border-radius: 3px;
  letter-spacing: 1px;
}
