%baseButton {
  position: relative;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  outline: 0;
  border: 0;
  border-radius: 4px;
  display: inline-block;
  appearance: button;

  -webkit-appearance: button; /* for input */
  -webkit-user-select: none; /* for button */
  -moz-user-select: none;
  -ms-user-select: none;
}

.Button {
  @extend %baseButton;
  &.is-disabled {
    background-color: #bbb;
    border: solid 1px #bbb;
    color: #8a8a8a;
  }

  &--primary {
    border: solid 1px #f66826;
    background-color: #f66826;
    color: white;
    font-weight: 600;
  }

  &--secondary {
    border: solid 1px #36c;
    background-color: #36c;
    color: white;
  }

  &--tertiary {
    border: solid 1px #697284;
    background-color: #697284;
    color: white;
  }

  &--full {
    width: 100%;
    padding: 14px 12px;
    font-size: 18px;
  }

  &--large {
    padding: 16px 44px;
    font-size: 17px;
  }

  &--medium {
    padding: 8px 30px;
    font-size: 14px;
  }

  &--small {
    padding: 8px 12px;
    font-size: 14px;
  }

  &--inline {
    padding: 5px 9px;
    font-size: 12px;
  }

}


.SocialButton {
  @extend %baseButton;

  width: 100%;
  padding: 14px 12px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;

  &__icon {
    fill: #fff;
    margin-right: 10px;
  }

  &--facebook {
    border: solid 1px #3b5998;
    background-color: #3b5998;
    color: white;
  }

}
