.filter__wrapper {
  display: flex;
  flex: 1;
  padding: 0 16px;
  width: 100%;
  height: 50px;
  box-sizing: border-box;
  justify-content: space-between;
  flex-direction: column;
  position: fixed;
  bottom: 16px;
  z-index: 5;
  transform: translateY(500px);
  transition: all 0.5s ease-in-out;

  &--active {
    transform: translateY(0);
    transition: all 0.5s ease-in-out;
  }

  &--animation {
    height: 100px;
    transition: all 0.5s ease-in-out;
  }

  .icon-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
