.sectionDivider {
  position: relative;

  &__text {
    background-color: white;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
    z-index: 2;
  }

  &__line {
    height: 0;
    border: none;
    position: absolute;
    border-bottom: 1px dotted #ddd;
    top: 0;
    width: 100%;
  }
}
