.Sortbar {
  border-top: solid 1px #ddd;
  border-bottom: solid 1px #ddd;

  &__nav {
    height: 40px;
    background-color: #f3f9ff;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  &__item {
    height: 40px;
    text-align: center;
    flex-basis: 100%;
    font-size: 14px;
    color: #36c;
    position: relative;

    p { line-height: 39px; }

    &.is-active { border-bottom: solid 2px #36c; }

    // Rotate the arrow when ascending
    &.is-asc {
      .Sortbar__arrow { transform: rotate(180deg); }
    }

  }

  &__arrow {
    transition: transform .2s ease-in-out;
    will-change: transform;
    backface-visibility: hidden;
  }
}
