.SummaryHeader {
  height: 45px;
  border-bottom: solid 1px #ddd;
  background-color: #efeff4;

  &__menu {
    float: left;
    width: 44px;
    height: 45px;
    border-right: 1px solid #ddd;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  html[dir='rtl'] &__menu {
    float: right;
    border-left: 1px solid #ddd;
  }

  &__back {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  html[dir='rtl'] &__back {
    transform: rotate(180deg);
  }

  &__content {
    float: left;
    height: 45px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 12px;
    width: calc(100% - 57px);

    div {
      width: 100%;
      margin-top: -4px;
    }
  }
  html[dir='rtl'] &__content {
    margin-left: 0px;
  }
}
