.h-24 {
  min-height: 24px;
}
.h-32 {
  min-height: 32px;
}
.h-40 {
  min-height: 40px;
}
.h-48 {
  min-height: 48px;
}
.h-56 {
  min-height: 56px;
}
.h-64 {
  min-height: 64px;
}
.h-72 {
  min-height: 72px;
}
.h-80 {
  min-height: 80px;
}
.h-88 {
  min-height: 88px;
}
.h-96 {
  min-height: 96px;
}
.h-104 {
  min-height: 104px;
}
.h-112 {
  min-height: 112px;
}
.h-120 {
  min-height: 120px;
}
.h-128 {
  min-height: 128px;
}
.h-136 {
  min-height: 136px;
}
.h-144 {
  min-height: 144px;
}
.h-152 {
  min-height: 152px;
}
.h-160 {
  min-height: 160px;
}
.h-168 {
  min-height: 168px;
}
.h-176 {
  min-height: 176px;
}
.h-184 {
  min-height: 184px;
}

.h-100p {
  height: 100%;
}

.w-32 {
  min-width: 32px;
}
.w-40 {
  min-width: 40px;
}
.w-48 {
  min-width: 48px;
}
.w-56 {
  min-width: 56px;
}
.w-64 {
  min-width: 64px;
}
.w-72 {
  min-width: 72px;
}
.w-80 {
  min-width: 80px;
}
.w-88 {
  min-width: 88px;
}
.w-96 {
  min-width: 96px;
}
.w-240 {
  min-width: 240px;
}
.w-320 {
  min-width: 320px;
}

.w-100p {
  width: 100%;
}
.w-90p {
  width: 90%;
}
.w-80p {
  width: 80%;
}
.w-25p {
  width: 25%;
}
.w-70p {
  width: 70%;
}
.w-60p {
  width: 60%;
}
.w-50p {
  width: 50%;
}
.w-40p {
  width: 40%;
}
.w-30p {
  width: 30%;
}
.w-20p {
  width: 20%;
}
.w-10p {
  width: 10%;
}

.maxw-60p {
  max-width: 60%;
}
