/**
 * Typescale
 */

.fs-70 { font-size: 70px; }
.fs-40 { font-size: 40px; }
.fs-30 { font-size: 30px; }
.fs-22 { font-size: 22px; }
.fs-20 { font-size: 20px; }
.fs-18 { font-size: 18px; }
.fs-17 { font-size: 17px; }
.fs-16 { font-size: 16px; }
.fs-15 { font-size: 15px; }
.fs-14 { font-size: 14px; }
.fs-13 { font-size: 13px; }
.fs-12 { font-size: 12px; }
.fs-11 { font-size: 11px; }
.fs-10 { font-size: 10px; }
.fs-8 { font-size: 8px; }

/**
 * TODO: Create variables for breakpoints
 */
@media (max-width: 320px) {
  .small\:fs-8 { font-size: 8px; }
  .small\:fs-11 { font-size: 11px; }
  .small\:fs-13 { font-size: 13px; }
  .small\:fs-16 { font-size: 16px; }
}

/**
 * Line Height
 */
.lh-none { line-height: 0; }
.lh-solid { line-height: 1; }
.lh-title { line-height: 1.25; }
.lh-copy { line-height: 1.5; }

/**
 * Font Styles
 */
.fw-100 { font-weight: 100; }
.fw-200 { font-weight: 200; }
.fw-300 { font-weight: 300; }
.fw-400 { font-weight: 400; }
.fw-500 { font-weight: 500; }
.fw-600 { font-weight: 600; }
.fw-700 { font-weight: 700; }
.fw-800 { font-weight: 800; }

/**
 * Text Align
 */
.ta-l { text-align: left; }
.ta-r { text-align: right; }
.ta-c { text-align: center; }

.tt-u { text-transform: uppercase; }
.tt-l { text-transform: lowercase; }

/**
 * Text Aliasing
 */
.t-antialiased {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/**
 * Text Truncating
 */
.t-truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
