.c-black-90 { color: rgba(0, 0, 0, .9); }
.c-black-80 { color: rgba(0, 0, 0, .8); }
.c-black-70 { color: rgba(0, 0, 0, .7); }
.c-black-60 { color: rgba(0, 0, 0, .6); }
.c-black-50 { color: rgba(0, 0, 0, .5); }
.c-black-40 { color: rgba(0, 0, 0, .4); }
.c-black-30 { color: rgba(0, 0, 0, .3); }
.c-black-20 { color: rgba(0, 0, 0, .2); }
.c-black-10 { color: rgba(0, 0, 0, .1); }
.c-black-05 { color: rgba(0, 0, 0, .05); }


.c-white { color: #fff; }
.c-white-10 { color: rgba(255, 255, 255, .1); }
.c-white-20 { color: rgba(255, 255, 255, .2); }
.c-white-30 { color: rgba(255, 255, 255, .3); }
.c-white-40 { color: rgba(255, 255, 255, .4); }
.c-white-50 { color: rgba(255, 255, 255, .5); }


.c-light-gray { color: #eee; }
.c-blue { color: #36c; }
.c-red { color: #df3b2e; }
.c-green { color: #599347; }
.c-light-green { color: #00bc20; }

.bg-white { background-color: #fff; }
.bg-light-blue { background-color: #f3f9ff !important; }
.bg-c-blue { background-color: #36c; }
.bg-blue-grey { background-color: #f2f4f7; }
.bg-black { background-color: #000; }
.bg-near-black { background-color: #111; }
.bg-dark-gray { background-color: #353434; }
.bg-mid-gray { background-color: #595858; }
.bg-gray { background-color: #777; }
.bg-light-gray { background-color: #efeff4; }

.bg-semilight-gray{ background-color: #fafafa;}